* {
    box-sizing: border-box;
}
nav {
    text-align: center
}
.menu {
    padding-left: 0;
}
.menu-item {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
.menu-item a {
    text-decoration: none;
}
.menu-item:hover a {
    color: red;
}
.content {
    width: calc(50% - 4px);
    display: inline-block;
    padding-left: 300px;
}
.image {
    width: 400px;
    height: 280px;
} 
h2 {
    font-size: 16;
    font-weight: lighter;
}  
p {
    width: 400px;
}
aside {
    width: calc(50% - 4px);
    display: inline-block;
    padding-right: 300px;
}
footer {
    text-align: center
}